# OS
.DS_Store
Thumbs.db

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
pycharm-debug/
.buildpath
.settings
atlassian-ide-plugin.xml
.project
.pydevproject
.installed.cfg
*.sublime-project
*.sublime-workspace
*.ropeproject

# Coverage
.coverage
/reports/

# Virtualenv
env/
.env/
.env
.venv

# Project
/public/

# Settings
settings_local.py
local_settings.py
local.py
jenkins.py
allowed_hosts.py
nginx.conf
settings.yml

# SQLite
*.sqlite*
*.db
*.rdb

# Translations
*.mo

# Logs
*.log*

*.pid
*.sql
celerybeat-schedule

# old project
/php/

# solr index
/data/
solr/multicore/category/data/
solr/multicore/product/data/
solr/multicore/news/data/
solr/multicore/category/conf/_rest_managed.json
solr/multicore/product/conf/_rest_managed.json
solr/multicore/news/conf/_rest_managed.json

# grunt
node_modules

# docker
Dockerfile
docker-compose.yml
run.sh
